@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #5db0e2;
    font-size: 62.5%;
    font-family: 'EXO 2';
}
.caixa-login {
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    background-image: linear-gradient(-105deg,
    rgba(245,245,245, 0.8) 0%,
      rgba(245, 245, 245, 0.8)50%,
      transparent 50%),
      url(./54950666.png);
    background-size: cover;
    background-position: center;
    box-shadow: 1.5rem 1rem .5rem rgba(0,0,0, .5);
}
.box-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: -4rem;
    left: 0;
    align-items: center;
}
.box-area__texto {
    font-size: 2rem;
    color: white;
    font-style: italic;
}

.logo__image {
    height: 3rem;
}
.saudacao {
    width: 50%;
    margin: 0 0 0 auto;
    text-align: right;
}
.saudacao__bemvindo {
    font-style: italic;
    color: rgb(55, 120, 173);
    font-size: 2.4rem;
    margin-bottom: 1rem;
}
.form {
    width: 50%;
    margin: 0 0 0 auto;
    text-align: right;
}
.form__titulo {
    margin-bottom: 1rem;
    font-size: 1rem;
}
.form-group:not(:last-child) {
    margin-bottom: 1.5rem;
    width: 80%;
    float: right;
}
.form-group:last-child{
    clear: both;
}
.form-group__input {
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    outline: none;
    border: none;
    /* border-left: 5px solid transparent; */
    /* float: right; */
    border-bottom: 5px solid transparent;
    padding: 0 .5rem;
    padding-top: 4px;
    font-size: 1.3rem;
    box-shadow: 1rem .6rem 1rem rgba(0,0,0,.2);
    display: block;
}
.form-group__input:focus-within {
    /* border-left: 5px solid rgb(0, 179, 0); */
    border-bottom: 5px solid rgb(0, 202, 0);
}
.form-group__input:focus:invalid {
    /* border-left: 5px solid red; */
    border-bottom: 5px solid red;
}

.form-group__label {
    display: block;
    margin-left: 1rem;
    margin-top: 3px;
    font-size: 1.3rem;
    transition: all .2s;
    clear: both;
    text-align: left;
    color: red;
    font-style: italic;
    font-weight: 600;
}
.form-group__input:placeholder-shown + .form-group__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); 
}
.form-group__submit {
    margin: 0 0 4rem 45%;
    display: block;
    width: 35%;
    height: 3rem;
    font-size: 1rem;
    background-color: #5db0e2;
    font-weight: 600;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    box-shadow: 1rem .6rem 1rem rgba(0,0,0,.2);
}
.recuperar{
    font-size: 1rem;
    text-align: center;
    margin-left: 7rem;
}
.recuperar__link,
.recuperar__link:link,
.recuperar__link:visited{
    margin-left: 4px;
    color: rgb(55, 120, 173);
    font-size: 1.1rem;
}

@media (max-width : 1200px) {
    .caixa-login {
        width: 50rem;
        background-size: contain;
    }
}

@media (max-width : 850px) {
    .caixa-login {
        width: 40rem;
        background-size: cover;
        /* background-position: left; */
        background-image: linear-gradient(90deg,
        transparent 0%,
        transparent 50%,
        rgba(245, 245, 245, 0.8)50%),
      url(./54950666.png);
    }
    .form__titulo {
        text-align: center;
        padding-left: 2.1rem;
        margin-bottom: 2rem;
    }
    .form-group__input {
        font-size: 1rem;
    }
    .form-group__label {
        font-size: 1rem;
    }
    .form-group__label:before {
        content: '*';
    }
    .form-group__submit {
        width: 80%;
        margin: 0;
        margin: 0rem 0 2rem 3.5rem;
        display: block;
        font-size: 1rem;
    }
    .recuperar {
        font-size: 1.4rem;
        width: 100%;
        margin: 0;
        padding-left: 3rem;
        display: block;
    }
    .recuperar__link {
        padding: 1rem;
        display: block;
    }
    .saudacao {
        width: 60%;
        margin-right: -1rem;
    }
}

@media (max-width : 666px) {
    .box-area__texto {
        font-size: 1.5rem;
    }
    .logo__image {
        height: 2.8rem;
    }
    .caixa-login {
        width: 90vw;
        background-size: cover;
        background-position: center;
        background-image: linear-gradient(90deg,
        rgba(245, 245, 245, 0.8)0%,
        rgba(245, 245, 245, 0.8)50%,
        rgba(245, 245, 245, 0.8)50%),
      url(./54950666.png);
    }
    .saudacao {
        width: 100%;
        text-align: left;
    }
    .form {
        margin: 0 auto;
        width: 100%;
    }
    .form__titulo {
        text-align: left;
        padding: 0;
        margin-left: 1rem;
        font-size: .9rem;
    }
    .form-group:not(:last-child) {
        float: none;
    }
    .form-group {
        width: 100%!important;
    }
    .form-group__submit {
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .recuperar {
        padding: 0;
    }
}