@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #5db0e2;
    font-size: 62.5%;
    font-family: 'EXO 2';
    overflow: hidden;
}

.moveCaixaLoginOut{
    animation: moveCaixaLoginOut 2s forwards;
}
@keyframes moveCaixaLoginOut {
    from{
        top: 50%;
        left: 50%;
    }
    to{
        top: 50%;
        left: -150%;
    }
}
.moveCaixaLoginIn{
    animation: moveCaixaLoginIn 2s forwards;
}
@keyframes moveCaixaLoginIn {
    to{
        top: 50%;
        left: 50%;
    }
    from{
        top: 50%;
        left: -150%;
    }
}
.moveCaixaRecoveryIn{
    animation: moveCaixaRecoveryIn 2s forwards;
}
@keyframes moveCaixaRecoveryIn {
    from{
        top: 50%;
        left: 150%;
    }
    to{
        top: 50%;
        left: 50%;
    }
}
.moveCaixaRecoveryOut {
    animation: moveCaixaRecoveryOut 2s forwards;
}
@keyframes moveCaixaRecoveryOut {
    to{
        top: 50%;
        left: 150%;
    }
    from{
        top: 50%;
        left: 50%;
    }
}
.caixa-login{
    width: 110rem;
    background-color: rgb(205,205,205);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1rem 2rem 1rem rgba(0,0,0,0.3);
    /* display: flex; */
}
.caixa-login-recovery {
    width: 110rem;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    /* transform: translateX(100vw) translateY(-50%); */
}
.close {
    background-color: rgba(240,240,240,0.5);
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    position: absolute;
    right: -4rem;
    top: 0rem;
    cursor: pointer;
}
.close__button {
    background-color: black;
    width: 2.5rem;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.close__button::before{
    content: '';
    background-color: black;
    width: 2.5rem;
    height: 2px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
}
.box-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: -4.5rem;
    align-items: center;
}
.box-area__texto {
    font-style: italic;
    font-size: 2rem;
}
.box-area__logo {
    height: 4rem;
}
.box-imagem {
    /* overflow: hidden; */
    width: 66.666%;
}
.box-imagem__img {
    display: block;
    height: 100%;
}
.caixa-login__container {
    display: flex;
    overflow: hidden;
}
.form {
    background-color: rgb(240,240,240);
    padding: 1rem;
    width: 100%;
}
.form-header{
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}
.saudacao__bemvindo{
    color: rgb(55, 120, 173);
    font-size: 3rem;
    margin-bottom: 4rem;
}
.form__titulo {
    font-size: 1.2rem;
}
.form-group{
    margin-bottom: 2rem;
    position: relative;
}
.form-group__input {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 3rem;
    border: none;
    border-left: 5px solid rgb(0, 202, 0);
    outline: none;
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,0.2);
    padding: 0 1rem ;
    font-size: 1.3rem;
}
.form-group__input:focus {
    /* border-left: 5px solid rgb(0, 179, 0); */
    border-left: 5px solid rgb(0, 202, 0);
}
.form-group__input:focus:invalid {
    /* border-left: 5px solid red; */
    border-left: 5px solid red;
}
.form-group__input:placeholder-shown {
    border-left: 5px solid transparent;
}
.form-group__label {
    position: absolute;
    top: -1.4rem;
    left: 2rem;
    transition: all .4s;
    font-size: 1rem;
}
.form-group__input:placeholder-shown + .form-group__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem); 
}
.form-group__submit {
    display: block;
    margin: 0 auto;
    padding: .8rem 2.5rem;
    border: none;
    outline: none;
    background-color: #5db0e2;
    font-size: 1.2rem;
    color: white;
    letter-spacing: .1rem;
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all .2s;
}
.form-group__submit:hover {
    background-image: linear-gradient( 180deg, 
                                    rgba(23, 136, 186, 1) 50%, 
                                    rgba(23, 136, 186, 1)92%, 
                                    rgba(03, 106, 146, 1) 92%);
    transform: translateY(-.3rem);                                
}
.form-group__submit:active {
    transform: translateY(0rem);
}
.recuperar {
    width: 35%;
    margin: 0 auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.recuperar__link,
.recuperar__link:link,
.recuperar__link:visited{
    display: block;
    color: rgba(03, 106, 146, 1);
    cursor: pointer;
}

@media (max-width: 1780px) {
    .caixa-login, .caixa-login-recovery {
        width: 80rem;
    }
    .box-imagem {
        width: 60%;
    }
    .recuperar {
        width: 50%;
    }
}
@media (max-width: 1300px){
    .caixa-login, .caixa-login-recovery {
        width: 50rem;
    }
    .box-imagem {
        width: 45%;
    }
}
@media (max-width:800px) {
    .caixa-login, .caixa-login-recovery {
        width: 40rem;
        max-height: 40rem;
    }
    .saudacao__bemvindo {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
    }
    .form{
        padding-bottom: 0;
        padding-top: 0;
    }
    .form__titulo {
        font-size: 1rem;
    }
    .form-group:last-child{
        margin-bottom: 0;
    }
    .recuperar {
        font-size: 1rem;
        /* width: 80%; */
    }
    .recuperar__link{
        font-size: 1.2rem;
        padding: 1rem;
    }
}
@media (max-width : 650px){
    html {
        font-size: 90%;
    }
    .caixa-login, .caixa-login-recovery {
        width: 25rem;
        max-height: 30rem;
    }
    .box-imagem{
        display: none;
    }
    .box-area{
        top: -3.2rem;
    }
    .box-area__texto{
        font-size: 1.8rem;
    }
    .box-area__logo{
        height: 3rem;
    }
    .form-group__submit--recovery{
        margin-bottom: 2rem;
    }
}
@media (max-width : 410px) {
    .caixa-login, .caixa-login-recovery {
        width: 20rem;
    }
    .saudacao__bemvindo {
        font-size: 2rem;
    }
    .box-area{
        top: -2rem;
    }
    .box-area__texto{
        font-size: 1rem;
    }
    .box-area__logo{
        height: 1.8rem;
    }
    .recuperar {
        font-size: .9rem;
    }
    .form-group__submit--recovery{
        margin-bottom: 2rem;
    }
}
