@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #5db0e2;
    font-family: 'EXO 2';
    overflow: hidden;
}
/* Animações */

.moveCaixaLoginOut{
    animation: moveCaixaLoginOut 2s forwards;
}
@keyframes moveCaixaLoginOut {
    from{
        top: 50%;
        left: 50%;
    }
    to{
        top: 50%;
        left: -150%;
    }
}

.moveCaixaLoginIn{
    animation: moveCaixaLoginIn 2s forwards;
}
@keyframes moveCaixaLoginIn {
    to{
        top: 50%;
        left: 50%;
    }
    from{
        top: 50%;
        left: -150%;
    }
}

.moveCaixaRecoveryIn{
    animation: moveCaixaRecoveryIn 2s forwards;
}
@keyframes moveCaixaRecoveryIn {
    from{
        top: 50%;
        left: 150%;
    }
    to{
        top: 50%;
        left: 50%;
    }
}

.moveCaixaRecoveryOut {
    animation: moveCaixaRecoveryOut 2s forwards;
}
@keyframes moveCaixaRecoveryOut {
    to{
        top: 50%;
        left: 150%;
    }
    from{
        top: 50%;
        left: 50%;
    }
}

/* !Animações */

/* parte de recuperar senha */
.caixa-login-recovery {
    width: 176rem;
    position: absolute;
    top: 50%;
    left: 150%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    box-shadow: 1rem 2rem 1rem rgba(0,0,0,0.3);
    backface-visibility: hidden;
}
.saudacao__esqueceu{
    color: rgb(55, 120, 173);
    font-size: 4rem;
    margin-bottom: 1rem;
}
.close {
    background-color: rgba(240,240,240,0.5);
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    display: block;
    text-decoration: underline;
}
/* parte de recuperar senha*/

/* parte de login */
.caixa-login{
    width: 176rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1rem 2rem 1rem rgba(0,0,0,0.3);
    backface-visibility: hidden;
    border-radius: 1rem;
}
.box-area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: -4.5rem;
    align-items: center;
}
.box-area__texto {
    font-style: italic;
    font-size: 2.8rem;
}
.box-area__logo {
    height: 4rem;
}
.caixa-login__container {
    display: flex;
    overflow: hidden;
    width: 100%;
}
.box-imagem {
    width: 70%;
    border-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.box-imagem__img {
    display: block;
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.form {
    background-color: rgb(240,240,240);
    padding: 2rem;
    width: 30%;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;

}
.form-header{
    padding-top: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}
.saudacao__bemvindo{
    color: rgb(55, 120, 173);
    font-size: 4rem;
    margin-bottom: 2rem;
}
.form__titulo {
    font-size: 1.6rem;
}
.form-group{
    margin-bottom: 3rem;
    position: relative;
}
.form-group__input {
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 5rem;
    border: none;
    border-left: 5px solid rgb(0, 202, 0);
    outline: none;
    box-shadow: .5rem .2rem .5rem rgba(0,0,0,0.2);
    padding: 0 1rem ;
    font-size: 2rem;
}
.form-group__input:focus {
    /* border-left: 5px solid rgb(0, 179, 0); */
    border-left: 5px solid rgb(0, 202, 0);
}
.form-group__input:focus:invalid {
    /* border-left: 5px solid red; */
    border-left: 5px solid red;
}
.form-group__input:placeholder-shown {
    border-left: 5px solid transparent;
}
.form-group__label {
    position: absolute;
    top: -2.2rem;
    left: 3rem;
    transition: all .4s;
    font-size: 1.4rem;
}
.form-group__input:placeholder-shown + .form-group__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem); 
}
.form-group__submit {
    display: block;
    margin: 0 auto;
    padding: 1.2rem 4rem;
    border: none;
    outline: none;
    background-color: #5db0e2;
    font-size: 2rem;
    color: white;
    letter-spacing: .1rem;
    box-shadow: .5rem .5rem .5rem rgba(0,0,0,0.2);
    cursor: pointer;
    transition: all .2s;
}
.form-group__submit:hover {
    background-image: linear-gradient( 180deg, 
                                    rgba(23, 136, 186, 1) 50%, 
                                    rgba(23, 136, 186, 1)92%, 
                                    rgba(03, 106, 146, 1) 92%);
    transform: translateY(-.3rem);                                
}
.form-group__submit:active {
    transform: translateY(0rem);
}
.recuperar {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.recuperar__link,
.recuperar__link:link,
.recuperar__link:visited{
    display: block;
    color: rgba(03, 106, 146, 1);
    cursor: pointer;
}

@media (max-width: 1780px) {
    .caixa-login, .caixa-login-recovery {
        width: 90%;
    }
    .recuperar {
        width: 50%;
    }
    .form{
        width: 40%;
    }
    .box-imagem{
        width: 60%;
    }

}
@media (max-width: 1300px){
    .caixa-login, .caixa-login-recovery {
        width: 90%;
    }
    .recuperar{
        width: 65%;
    }
    .form{
        width: 50%;
    }
    .box-imagem{
        width: 50%;
    }
}
@media (max-width:800px) {
    .caixa-login, .caixa-login-recovery {
        width: 90%;
        max-height: 40rem;
    }
    .saudacao__bemvindo {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }
    .saudacao__esqueceu {
        font-size: 2.4rem;
    }
    .form__titulo {
        font-size: 1.3rem;
    }
    .form-group:last-child{
        margin-bottom: 0;
    }
    .recuperar {
        font-size: 1.6rem;
        /* width: 80%; */
    }
    .recuperar__link{
        font-size: 1.6rem;
        padding: 1rem;
    }
    .form-group__input {
        font-size: 1.6rem;
        height: 3.5rem;
    }
    .form-group__submit{
        font-size: 1.6rem;
        padding: 1rem 2rem;
    }
}
@media (max-width : 650px){
    
    .caixa-login, .caixa-login-recovery {
        width: 90%;
        border-radius: 0;
    }
    .box-imagem{
        display: none;
    }
    .form{
        width: 100%;
        border-radius: 0;
    }
    .form-group__submit--recovery{
        margin-bottom: 2rem;
    }
}
@media (max-width : 410px) {
    .caixa-login, .caixa-login-recovery {
        width: 90%;
    }
    .saudacao__bemvindo {
        font-size: 2rem;
    }
    .box-area{
        top: -3.2rem;
    }
    .box-area__texto{
        font-size: 1.5rem;
    }
    .box-area__logo{
        height: 3rem;
    }
    .recuperar {
        font-size: 1.3rem;
    }
    .form-group__submit--recovery{
        margin-bottom: 2rem;
    }
}
