@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #5db0e2;
    font-family: 'EXO 2';
    overflow: hidden;
}

/* Animações */

.moveCaixaLoginOut{
    animation: moveCaixaLoginOut 2s forwards;
}
@keyframes moveCaixaLoginOut {
    from{
        left: 50%;
    }
    to{
        left: -50%;
    }
}

.moveCaixaLoginIn{
    animation: moveCaixaLoginIn 2s forwards;
}
@keyframes moveCaixaLoginIn {
    to{
        left: 50%;
    }
    from{
        left: -50%;
    }
}

.moveCaixaRecoveryIn{
    animation: moveCaixaRecoveryIn 2s forwards;
}
@keyframes moveCaixaRecoveryIn {
    from{
        transform: translate(65%, -50%);
    }
    to{
        transform: translate(-50%, -50%);
    }
}

.moveCaixaRecoveryOut {
    animation: moveCaixaRecoveryOut 2s forwards;
}
@keyframes moveCaixaRecoveryOut {
    to{
        transform: translate(65%, -50%);
    }
    from{
        transform: translate(-50%, -50%);
    }
}
.moveLabelUp{
    animation: moveLabelUp .3s forwards;
}
@keyframes moveLabelUp {

    from{
        top: 20%;
        left: 5%;
    }
    to{
        top: -55%;
        left: 0%;
        font-size: 1.4rem;
    }
}
.moveLabelDown{
    animation: moveLabelDown .5s forwards;
}
@keyframes moveLabelDown {

    to{
        top: 20%;
        left: 5%;
        font-size: 1.4rem;
    }
    from{
        top: -55%;
        left: 0%;
        font-size: 1.3rem;
    }
}
/* !Animações */




.content-login{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85%;
}
.header-login{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 1rem;
    
}
.header-login__titulo{
    font-style: italic;
    font-size: 2rem;
    display: block;
    margin-top: 1rem;
    color: white;
}
.header-login__logo{
    width: 50%;
    display: block;
}
.box-imagem{
    display: none;
}
.form{
    background-color: whitesmoke;
    padding: 2.5rem;
    box-shadow: 1rem 1rem .5rem rgba(0,0,0,.5);
    border-radius: .3rem;
}
.form-header{
    margin-bottom: 2.5rem;
}

.form-header__titulo{
    font-size: 2.4rem;
    font-style: italic;
    color: #3778ad;
    margin-bottom: 1rem;
}
.form-header__subtitulo{
    font-size: 1.4rem;
    color: #585858;
}
.form-group:not(:last-child){
    margin-bottom: 3rem;
    position: relative;
}
.form-group__label{
    position: absolute;
    font-size: 1.4rem;
    top: 20%;
    left: 5%;
    cursor: text;
    color: #585858;

}
.form-group__input{
    display: block;
    width: 100%;
    height: 3.2rem;
    border: none;
    outline: none;
    box-shadow: .2rem .2rem .3rem rgba(0,0,0,.5);
    font-size: 1.4rem;
    padding: 1rem 1rem;
    border-left: 3px solid transparent;
    border-radius: .2rem;
    color: #585858;
}
.form-group__input:focus:invalid{
    border-left: 3px solid rgb(215, 0, 0);
}
.form-group__input:valid{
    border-left: 3px solid rgb(18, 215, 0);
}
.form-group__submit{
    display: block;
    margin: 0 auto;
    padding: .8rem 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #5db0e2;
    color: white;
    font-size: 1.4rem;
    transition: all .2s;
    border-radius: .2rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.form-group__submit:hover {
    background-image: linear-gradient( 180deg,
    rgba(23, 136, 186, 1)88%, 
    rgba(03, 106, 146, 1) 88%);
    transform: translateY(-.3rem);
    box-shadow: .2rem .2rem .3rem rgba(0,0,0,.5);
}
.form-group__recuperar{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
.form-group__recuperar--link{
    display: block;
    cursor: pointer;
    font-size: 1.4rem;
    color: rgba(03, 106, 146, 1);
}
/*  */

/*  */
.content-login__recovery{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(65%, -50%);
    width: 85%;
}